<h1 id="editHead">Add Article</h1>
<form action="/articles/" method="POST">
    <div>
        <label for="title">name</label>
        <input type="name" name="name" id="name">
    </div>
    <div>
        <label for="author">description</label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="body">quantity</label>
        <input type="number" name="quantity" id="quantity">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>